h1 {
    color: red;
}
p {
    color: green; 
}
.special {
    color: orange;
    font-weight: bold;
}
h2,
#chapter {
    text-transform: uppercase;
}
.center {
    border: 2px solid red;
    text-align: center;
    margin-left: 20px solid grey; 
    font-weight: bold;
}
li.special, span.special {
    font-weight: bold;
}
a:link {
    color: pink;
}
a:hover {
    color: violet;
    text-decoration: aqua;
}
a:visited {
    color: rebeccapurple;
}
/* Comment */

/* #name tags an id, .name tags a class. Anything after tag is a target - for example, li targets each list item */
.days li {
    text-transform: uppercase;
    list-style-position: inside;
    list-style-type: katakana;
    color: rgb(253, 44, 215);
    font-size: 1.4em
}
.flavors { 
    list-style-type: circle;

}
/* horizontal navigation*/
li { float: left; }

/* Vertical navigation */
ul { width: 200px; }

/* Styles for navigation */
.nav-h, .nav-v {
    list-style-type: none; 
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333111;

}
li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-h li {
    float: right; 
}

.nav-v {
    width: 200px;
    float: left;
}
